#sidebar{
	margin-top:10%;
	max-width:50%;
	float:left;
}
.panel{
	float:left;
	margin-top:10%;
	margin-left:20%;
	width:65%;
}

#body{
	    min-height: 710px !important;
    height: 100% !important;
    width: 100%;
    display: inline-block;
}


.input-group{
	margin-bottom:10px;
		width:100%;
}