.legend div {
	width: 15px;
}

.legend td {
	width: 80px;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}

.legend .legendLabel {
	width: 175px;
}

.chart-title {
	margin-bottom: 20px;
}

#purchaseOrderDetials {
	padding-left: 14px;
}

input {
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	border-width: 0px;
	width: 100%;
	padding-left: 10px;
}

.testing {
	color: white;
	margin: auto;
	padding-left: 57px;
	font-size: 14px;
	display: table;
	width: 100%;
}

td {
	width: 33%;
	text-align: center;
}

::-webkit-input-placeholder {
	color: white;
}

:-moz-placeholder {
	color: white;
}

::-moz-placeholder {
	color: white;
}

:-ms-input-placeholder {
	color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.editorTools {
	width: 25px;
}

/* Page title styling */
#header {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 35px;
}

#header a {
	color: black;
}

.col-sm-4 {
	padding-top: 10px;
	border: 3px solid white;
	box-sizing: border-box;
	font-size: 18px;
	color: white;
}

.mainButton{
	height: 200px;
}

#search {
	background-color: #92D14F;
	height: 50px;
	border: 3px solid white;
	box-sizing: border-box;
	font-size: 20px;
	color: white;
}

#searchText {
	padding-top: 8px;
}

.indexSearch {
	height: 90px !important;
}

.glass_back {
	width: 39px;
	padding-top: 3px;
}

#prod {
	background-color: #C00002;
}

#gnome {
	padding-top: 25px;
}

#supplier {
	background-color: #00AF50;
}

#po {
	background-color: #01B0F1;
}

#anButtons1 {
	background-color: #01B0F1;
	height: 173px !important;
}

#anButtons2 {
	background-color: #00AF50;
	height: 173px !important;
}

h2 {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 155px;
}

#lineSep {
	height: 134px;
}

#admin {
	background-color: #7030A0;
}

#analy {
	background-color: #ED7D31;
}

#log {
	background-color: #92D14F;
}

#help {
	height: 50px;
	background-color: #01B0F1;
	border: 3px solid white;
	box-sizing: border-box;
	font-size: 18px;
	color: white;
	margin-top: 30px;
}

#help:hover {
	opacity: 0.6;
}

#helpImg {
	width: 90px;
	margin-top: -27px;
	margin-left: auto;
	margin-right: auto;
}

/*hover events*/
a {
	color: white;
}

a:hover {
	color: white;
}

.hovering:hover {
	opacity: 0.6;
}

.mainButton:hover, .col-sm-1:hover, .col-sm-3:hover, .listItem:hover {
	opacity: 0.6;
}

.mainButton a, .col-sm-1 a, .col-sm-12 a, .col-sm-3 a, .listItem a {
	text-decoration: none;
}



/*start of analytics*/
#back {
	background-color: #C00002;
	border: 3px solid white;
	box-sizing: border-box;
	height: 50px;
}

#analytics .col-sm-6 {
	padding-top: 10px;
	height: 350px;
	border: 3px solid white;
	box-sizing: border-box;
	font-size: 18px;
	color: white;
}

/*BEN CODE*/
.icon {
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: -18px;
}

.nbbutton {
	height: 50px;
	padding: 0px;
	padding-left: 15px;
	padding-top: 5px;
	font-size: 1em;
	border: 3px solid white;
	box-sizing: border-box;
}

.nbbutton a {
	color: white;
	text-decoration: none;
}

.nbbutton a:visited {
	color: white;
	text-decoration: none;
}

.nbbuttonp {
	height: 50px;
	padding: 0px;
	padding-left: 15px;
	padding-top: 5px;
	font-size: 1em;
	color: black;
	text-align: center;
}

.nbbuttonp a {
	text-decoration: none;
	color: black;
	text-align: center;
}

.nbbuttonp a:visited {
	text-decoration: none;
	color: black;
	text-align: center;
}

#add {
	background-color: #00b050;
}

#edit {
	background-color: #ed7d31;
}

#delete {
	background-color: #c00000;
}

#deleteButton{
	border: none;
	background-image: url(../img/bin.png);
	background-size: 25px 25px;
	background-repeat: no-repeat;
	width: 65px;
	height: 25px;
	background-color: white;
	background-position: center;
	outline: none;
}

/*Page title and breadcrumbs*/
#topline {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 25px;
}

#title {
	float: left;
	font-size: 24px;
	padding-left: 15px;
}

#bread {
	float: right;
	padding-right: 15px;
}

#bread a {
	color: black;
}

#operations {
	margin-bottom: 15px;
}

.table {
	margin-top: 20px;
	margin-bottom: 25px;
	width: 100%;
	height: 25px;
}

.table a {
	color: black;
}

.heading {
	font-weight: bold;
	color: black;
}

.heading:hover{
	opacity: 1!important;
}

.addButtons:hover{
	opacity: 0.6!important;
}

.supDetails, .prodDetails, .pageing {
	color: black;
	height: 25px;
	padding-top: 0px;
	font-size: 18px;
}

.listDetails {
	margin-bottom: 15px;
	color: black !important;
}

#save {
	background-color: #228b22;
}

#cancel {
	background-color: #663399;
}

/*TIM CODE*/
#breadcrumbs {
	opacity: 1;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 100px;
}

.email {
	background-color: white;
	border: 0px;
}

.email:hover {
	background-color: orange;
}

.print {
	background-color: white;
	border: 0px;
}

.print:hover {
	background-color: orange;
}

.buttonOfJoy {
	height: 50px;
	border: 0px solid transparent;
	background-color: #ED7D31;
	margin-top: 30px;
	text-align: right;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 18px;
	padding-top: 10px;
	color: white;
}

.sys {
	height: 30px;
	display: block;
	margin-top: -1px;
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style: none;
	padding: 0px;
}

.detail_headers {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
	/* padding-left: 30px; */
	opacity: 1;
}

.detail_headers:hover {
	opacity: 1;
}

#graph {
	height: 195px;
	width: 80%;
}

.text:hover {
	opacity: 1;
}

.listCenter {
	text-align: center;
}

.smallPadding{
	margin-top: 5px;
}

.uTextInput {
	border: 1px solid silver;
	padding: 0px !important;
}

.addElement {
	padding-top: 15px;
	color: black !important;
}

.addButs {
	height: 50px;
	margin-top: 15px;
}

#addSupplierForm {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 50px;
}

#supplierDetails .col-sm-6 {
	padding-left: 15px;
	padding-right: 15px;
}

#tableTitle {
	padding-top: 20px;
}

.productDropdown {
	width: 100%;
}

#contact-details {
	text-align: right;
}

.login-element {
	position: relative;
	margin-bottom: 5px;
	width: 250px !important;
}

#loginPage .row {
	text-align: center;
}

.greyPlace ::-webkit-input-placeholder {
	color: silver!important;
}

.greyPlace :-moz-placeholder {
	color: silver!important;
}

.greyPlace ::-moz-placeholder {
	color: silver!important;
}

.greyPlace :-ms-input-placeholder {
	color: silver!important;
}

.loginInput {
	padding-left: 10px !important;
	line-height: 30px;
}

#loginPage {
	width: 100%;
	margin: auto;
	position: relative;
}

.signInButton {
	padding: 10px;
	background-color: #92d050 !important;
	color: white;
}

.signInButton:hover {
	opacity: 0.6;
	color: white;
}


#productFormatter{
	margin-left: 158px;
	margin-right: 158px;
}

.blurb{
	padding-top: 20px;

}

#imageSize{
	height: auto;
	width: auto;
	max-height: 300px;
	max-width: 300px;
}



@media screen and (max-width: 990px) {
	.legend div {
		width: 15px;
	}
	.legend td {
		width: 15px;
		font-size: 12px;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.legend .legendLabel {
		width: 80px;
	}
}


@media screen and (max-width: 770px) {
	#search {
		height: 90px;
	}
	input {
		text-align: center;
	}
	.supDetails, .prodDetails, .pageing {
		float: left;
		padding-top: initial;
		padding-right: initial;
		margin: initial;
		text-align: center;
	}
	.text {
		padding-left: 47px;
		padding-right: 47px;
	}
	
	.legend td {
		width: 45px;	
	}
	
	.legend .legendLabel {
		width: 200px;
	}
	
	#lineSep {
		height: 0px;
	}
	
	#nameContact{
	margin-top: 126px;
	}
	
	.addops{
	padding-top: 90px;
	}	
	
	.addButs{
	margin-top: 0px;
	}
	
}

@media screen and (max-width: 534px) {
	#header {
		font-size: 32px;
	}
	
	.page {
		font-size: 0.9em !important;
	}
}