
/* Main marketing message and sign up button */
.jumbotron {
	background-image: url("../img/Banner.png");
	padding-top:0px !important;
	text-align: center;
	background-color: transparent;
}
.jumbotron h1{
	margin-top:0px;
}
#productRow{
	text-align: center;
	margin-right:0px;
	padding-bottom:20px;
	
}
#product{
	background-image: url("../img/productBackground.png");
	margin-left: 20%;
    margin-right: 15%;
	text-decoration:none;
	clear:both;
	
}
#product a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}